body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("hearts.png");
  background-size: cover;
  background-repeat: repeat;
}

#content-box {
  width: 400px;
  height: 500px;
  background-color: transparent;
  backdrop-filter: blur(22px);
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
}

#calculate {
  width: 150px;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  background-color: red;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 130px;
}

#result-percentage {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
#result-message {
  color: maroon;
  text-shadow: red(100px);
}
#your-name {
  height: 35px;
  width: 25cap;
  background-color: #B63163;
  border-radius: 130%;
  border-color: #FF0000;
  text-align: center;
}
#crush-name {
  height: 35px;
  width: 25cap;
  background-color: #B63163;
  border-radius: 130%;
  border-color: #FF0000;
  text-align: center;
}
#nav{
  margin: 4px;
}
#calculate:hover{
  background: #D73E46;
  width: 155px;
}

#your-name:hover{
  height: 38px;
  width: 28cap;
}
#crush-name:hover{
  height: 38px;
  width: 28cap;
}