body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("hearts.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#content-box {
  width: 400px;
  height: 500px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 1%;
}

#calculate {
  width: 150px;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  background-color: red;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 130px;
}

#result-percentage {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
#result-message {
  color: #2e0000;
  text-shadow: red(100px);
}
#your-name {
  height: 35px;
  width: 25cap;
  background: transparent;
  backdrop-filter: blur(22px);
  border-radius: 100%;
  border-color: #ff0000;
  text-align: center;
}
#crush-name {
  height: 35px;
  width: 25cap;
  background: transparent;
  backdrop-filter: blur(22px);
  border-radius: 100%;
  border-color: #ff0000;
  text-align: center;
}
#calculate:hover {
  background: #d73e46;
  width: 155px;
    text-decoration:underline;
}

#your-name:hover {
  height: 38px;
  width: 28cap;
    text-decoration:underline;
}
#crush-name:hover {
  height: 38px;
  width: 28cap;
    text-decoration:underline;
}

#footer {
  background: transparent;
  backdrop-filter: blur(22px);
  margin-top: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #ff0000;

}

.navbar {
  margin: 4px;
  background: transparent;
  backdrop-filter: blur(22px);
  border-radius: 10px;
}

#ultag:hover{
  text-decoration:underline;
  cursor: pointer;
}
#ultag,a{
  text-decoration:none;
  color: #ff0000;
}